<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentação</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="menu">
        <ul>
            <li><a href="/sobre"><i class="fas fa-user"></i> Sobre</a></li>
            <li><a href="/documentacao"><i class="fa fa-file"></i> Documentação</a></li>
            <li><a href="/"><i class="fa-solid fa-microchip"></i> Helix AI</a></li>
        </ul>
        <div id="my_imagesec"></div>
        <div id="helix-ai-symbol">
            <a href="https://github.com/Welpeth/neuralbot" target="_blank">
                <div id="my_image"></div>
            </a>
        </div>
        <div id="github">
            <a href="https://github.com/Welpeth" target="_blank">
                <div id="github_symbol"></div>
            </a>
        </div>
        <div id="linkedin">
            <a href="https://linkedin.com/in/henrique-josé-dias-pereira-9a821a273" target="_blank">
                <div id="linkedin_symbol"></div>
            </a>
        </div>
        <!-- Adiciona o botão de dark mode -->
        <div id="dark-mode-toggle">
            <label for="toggle-dark-mode"><i class="fa-solid fa-circle-half-stroke"></i> Habilitar Dark Mode</label>
            <label class="switch">
                <input type="checkbox" id="toggle-dark-mode">
                <span class="slider"></span>
            </label>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Verifica se o modo escuro está salvo no localStorage
            if (localStorage.getItem('dark-mode') === 'enabled') {
                $('body').addClass('dark-mode');
                $('#toggle-dark-mode').prop('checked', true);
            }

            $('#toggle-dark-mode').change(function() {
                $('body').toggleClass('dark-mode');
                // Salva a preferência do usuário no localStorage
                if ($('body').hasClass('dark-mode')) {
                    localStorage.setItem('dark-mode', 'enabled');
                } else {
                    localStorage.setItem('dark-mode', 'disabled');
                }
            });
        });
    </script>
</body>
</html>
