<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with Bot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div id="menu">
    <ul>
        <li><a href="/sobre"><i class="fas fa-user"></i> Sobre</a></li>
        <li><a href="/documentacao"><i class="fa fa-file"></i> Documentação</a></li>
        <li><a href="/"><i class="fa-solid fa-microchip"></i> Helix AI</a></li>
    </ul>
    <div id="my_imagesec"></div>
    <div id="helix-ai-symbol">
        <a href="https://github.com/Welpeth/neuralbot" target="_blank">
            <div id="my_image"></div>
        </a>
    </div>
    <div id="github">
        <a href="https://github.com/Welpeth" target="_blank">
            <div id="github_symbol"></div>
        </a>
    </div>
    <div id="linkedin">
        <a href="https://linkedin.com/in/henrique-josé-dias-pereira-9a821a273" target="_blank">
            <div id="linkedin_symbol"></div>
        </a>
    </div>
    <!-- Switch para alternar o modo -->
    <div id="dark-mode-toggle">
        <label for="toggle-dark-mode"><i class="fa-solid fa-circle-half-stroke"></i> Habilitar Dark Mode</label>
        <label class="switch">
            <input type="checkbox" id="toggle-dark-mode">
            <span class="slider"></span>
        </label>
    </div>
</div>
<div id="chat-box">
    <div id="chat-content">
        <div id="chat-messages">
            <div class="message bot">
                <img src="/static/images/helix-pic.png" alt="Bot">
                <div class="message-content">Olá! Eu sou o Helix, seu assistente virtual.</div>
            </div>
        </div>
        <div id="chat-input">
            <input type="text" id="user-input" placeholder="Digite sua mensagem aqui...">
            <button id="send-button">Enviar</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
