<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/helix-pic.png">
    <title>HELIX AI: Sobre a máquina e o Criador</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="menu">
        <ul>
            <li><a href="/"><i class="fa-solid fa-microchip"></i> Helix AI</a></li>
            <li><a href="/documentacao"><i class="fa fa-file"></i> Documentação</a></li>
            <li><a href="/sobre"><i class="fas fa-user"></i> Sobre</a></li>
        </ul>
        <div id="my_imagesec"></div>
        <div id="helix-ai-symbol">
            <a href="https://github.com/Welpeth/helix-ai" target="_blank">
                <div id="my_image"></div>
            </a>
        </div>
        <div id="github">
            <a href="https://github.com/Welpeth" target="_blank">
                <div id="github_symbol"></div>
            </a>
        </div>
        <div id="linkedin">
            <a href="https://linkedin.com/in/henrique-josé-dias-pereira-9a821a273" target="_blank">
                <div id="linkedin_symbol"></div>
            </a>
        </div>
        <!-- Adiciona o botão de dark mode -->
        <div id="dark-mode-toggle">
            <label for="toggle-dark-mode"><i class="fa-solid fa-circle-half-stroke"></i> Habilitar Dark Mode</label>
            <label class="switch">
                <input type="checkbox" id="toggle-dark-mode">
                <span class="slider"></span>
            </label>
        </div>
    </div>
    <div id="content">
        <div id="image-container">
            <img src="/static/images/image.jpg" alt="Sobre Nós">
        </div>
        <div id="about-section">
            <h1>Sobre o Helix</h1>
            <p>
                Bem-vindo a minha página sobre do Helix AI, aqui você vai encontrar as ferramentas em que foram usadas e um pouco sobre ele.
                <br><br>
                Eu programei o Helix para facilitar o treinamento dos próximos servidores do TI. É uma IA que usa rede neural para identificar padrões, eu mesmo alimentei a base de dados com tudo que eu sabia sobre o TI do Simplifica.
                <br><br>
                Helix AI não é perfeito, mas é um projeto em que eu dediquei bastante tempo para fazer. Ele serve bastante para responder a maioria das dúvidas, com certeza.
                <br><br>
                Abaixo as principais ferramentas usadas.
            </p>
        </div>
        <div id="tools-section">
            <div class="tool" style="background-image: url('/static/images/tensorflow.png');"></div>
            <div class="tool" style="background-image: url('/static/images/python.png');"></div>
            <div class="tool" style="background-image: url('/static/images/keras.png');"></div>
            <div class="tool" style="background-image: url('/static/images/json.png');"></div>
            <div class="tool" style="background-image: url('/static/images/flask.png');"></div>
        </div>
    </div>
    <!-- Adiciona o jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
